@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid tablecontainer">
    <div class="col-md-12">
        <a class="w3-btn w3-green" href="@Url.Action("Create","SysAdmin")" style="margin-bottom: 20px; margin-top: 20px;">Add New Studio</a>
        <a class="w3-btn w3-green" href="@Url.Action("CreateActiveStudio","SysAdmin")" style="margin-bottom: 20px; margin-top: 20px;">Active Studio</a>
    </div>

    <table class="table table-responsive" id="StudioActive">
        <thead>
            <tr class="info text-justify">
                <th>StudioName</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Address</th>
                <th>ActiveFrom</th>
                <th>ActiveTo</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var oTable = $('#StudioActive').DataTable({
                "ajax": {
                    "url": '/SysAdmin/SysAdmin/GetStudioActive',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "StudioName", "autoWidth": true },
                    { "data": "PhoneNumber", "autoWidth": true },
                    { "data": "Email", "autoWidth": true },
                    { "data": "Address", "autoWidth": true },
                    { "data": "ActiveFrom", "autoWidth": true },
                    { "data": "ActiveTo", "autoWidth": true },
                    {
                        "data": "StudioId",
                        "width": "50px",
                        "render": function(data) {
                            return '<a class="w3-btn w3-green" href="@Url.Action("Edit","SysAdmin")/' + data + '">Edit</a>';
                        }
                    },
                    {
                        "data": "StudioId",
                        "width": "50px",
                        "render": function(data) {
                            return '<a class="popup w3-btn w3-red" href="@Url.Action("Delete","SysAdmin")/' + data + '">Delete</a>';
                        }
                    }
                ]
            });
            $('.tablecontainer').on('click',
                'a.popup',
                function(e) {
                    e.preventDefault();
                    openPopup($(this).attr('href'));
                });
            function openPopup(pageUrl) {
                var $pageContent = $('<div />');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: 'Confirm Delete',
                        height: 550,
                        width: 600,
                        close: function() {
                            $dialog.dialog('destroy').remove();
                        }
                    });

                $('.popupWindow').on('submit',
                    '#popupForm',
                    function(e) {
                        var url = $('#popupForm')[0].action;
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: $('#popupForm').serialize(),
                            success: function(data) {
                                if (data.status) {
                                    $dialog.dialog('close');
                                    oTable.ajax.reload();
                                }
                            }
                        });

                        e.preventDefault();
                    });
                $dialog.dialog('open');
            }
        })
    </script>

}