@*@model IEnumerable<StudioApplication.Areas.SysAdmin.Models.StudioActiveViewModel>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Danh sách ảnh viện</h4>

<div class="row">
    <div class="col-lg-12">
        <div>
            <table class="table table-bordered " id ="StudioActive">
                <thead>
                <tr>
                    <th>StudioName</th>
                    <th>PhoneNumber</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>ActiveFrom</th>
                    <th>ActiveTo</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@* Load datatable css *@
<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
@* Load datatable js *@
@section Scripts{
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#StudioActive').DataTable({
                "ajax": {
                    "url": "/SysAdmin/SysAdmin/GetStudioActive",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns" : [
                        { "data": "StudioName", "autoWidth": true },
                        { "data": "PhoneNumber", "autoWidth": true },
                        { "data": "Email", "autoWidth": true },
                        { "data": "Address", "autoWidth": true },
                        { "data": "ActiveFrom", "autoWidth": true },
                        { "data": "ActiveTo", "autoWidth": true }
                    ]
            });
        });
    </script>
}
    

